* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #e0afdd;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 60px;
    box-shadow: 2px 2px 5px rgba(138, 1, 1, 0.3);
}

.logo {
    height: 20px;
    width: 20px;
    margin: 10px;
    border-radius: 20%; 
    background-color: rgb(150, 140, 11);
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: 2s all;
    transform: rotate(90deg);
    transform-origin: center;
}

.logo:hover {
    background-color: rgb(0, 255, 136);
    /* transition: 0.2s;
    transform: rotate(45deg) scale(1.2); */
    animation: spin 2s linear infinite;
}

@keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    transition: 0.5s ease;
}

a:hover {
    /* color: rgb(202, 18, 172); */
    transform: scale(1.3);
    animation: Colorcy 3s linear infinite;
}

@keyframes Colorcy {
    0%   { color: #ff0000; }
    25%  { color: #00ff00; }
    50%  { color: #0000ff; }
    75%  { color: #ff9900; }
    100% { color: #ff0000; }
}

.btn-login{
    margin: 5px;
    margin-right: 20px;
    padding: 8px;
    border-radius: 40px;
    border-color: darkred;
    background-color: goldenrod;
    transition: 1s all;
}

.btn-login:hover{
    background-color: #fff;
    animation: bgCycle 3s linear infinite;
}

@keyframes bgCycle {
    0%   { background-color: #ff0000; }
    25%  { background-color: #00ff00; }
    50%  { background-color: #0000ff; }
    75%  { background-color: #ff9900; }
    100% { background-color: #ff0000; }
}